register-page {
    .card-md .card-ios {
        top: initial;
        width: 100%;
        margin-top: 5%;
    }
    img {
        width: 70%;
        height: 100%;
        top: 44%;
        margin-top: 10%;
        margin-left: 22%;
        padding: 2%;
    }
    .loginContent {
        overflow-y: scroll;
    }
}